{% extends 'blank_base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
        <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
            <h1 class="h4 text-gray-900 mb-2">Reset Your Password?</h1>
            <p class="mb-4">We get it, stuff happens. Just enter your password below and we'll reset your password!</p>
            </div>
            <form class="user" method="post">
                {% csrf_token %}
                {{ form.errors }}
                {% if form.errors %}Your password and repeat password doesn't match. Please try again.{% endif %}
                <div class="form-group">
                    <input type="password" class="form-control form-control-user" name="password" id="exampleInputPassword" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user" name="repeat_password" id="exampleRepeatPassword" placeholder="Repeat Password">
                </div>
                <input type="submit" class="btn btn-primary btn-user btn-block" value="Reset Password">
            </form>
        </div>
        </div>
    </div>
{% endblock %}