{% extends 'blank.html' %}

{% block contentheading %}Add User{% endblock %}

{% block content %}
<div class="row">
    <form method='post'>
        {% if message %}<p>{{ message }}</p>{% endif %}
        {% csrf_token %}
        {% for field in form %}
            <p>
            {{ field.label }}
            {{ field }}
            {{ field.help_text }}
            {{ field.errors }}
            </p>
        {% endfor %}
        <input type=submit value="Add User">
    </form>
</div>
{% endblock %}